<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Index</title>
</head>

<body class="bg-gray-900 text-white font-mono grid place-items-center min-h-screen leading-loose">
  <div class=" text-center">
    <h1 class=" text-4xl font-bold">Express with LinePay</h1>
    <p>試做linepay付款串接</p>
    <p class=" pt-10">
      <a class="bg-sky-600 py-4 px-8 rounded-xl cursor-pointer hover:opacity-80" href="/order">馬上試試</a>
    </p>
  </div>
</body>
</html>